body{
   text-align: center;
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #076728;
    border-color: black;
    z-index: 3;
}
nav a{
    float: right;
    text-align: center;
    padding: 35px;
    text-decoration: none;
    color: black;
    justify-content: space-around;
    font-size: 25px;
}
nav a:hover{
    background-color: #033214;
    color: white;
}
nav img{
    float: left;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #033214;
}
html{
    scroll-behavior: smooth;
    width: 100%;
}
.top{
    background-image: URL('images/farm-valley.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 109.5%;
    height: 49vh;
    margin-top: 113px;
    z-index: 2;
    color: white;
}
.top h1{
    font-size: 80px;
    text-align: left;
    margin-left: 500px;
    margin-bottom: auto;
}
.top p{
    font-size: 30px;
    text-align: left;
    margin-left: 500px;
}
.top::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 109.5%;
    height: 63.55%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.first-section{
    position: relative;
    z-index: 2;
}
.topbutton{
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
    border-radius: 12px;
    padding: 14px 40px;
    margin: 15px;
    margin-bottom: 30px;
}
.topbutton:hover{
    background-color: #04AA6D;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.50),0 17px 50px 0 rgba(0,0,0,0.50);
}

main{
    margin-top: 60px;
}
.free-course{
    display: flex;
    float: left;
    width: 103.5%;
    padding: 50px;
    margin-top: 70px;
    background-image: linear-gradient(to bottom, black, rgb(1, 51, 6));
    margin-top: 0px;
    color: white;
    text-decoration: none;
}
.free-course img{
    margin: 200px;
    margin-top: 5cqh;
    box-shadow: 20px 20px 5px whitesmoke;
}
.free h1{
    font-size: 80px;
    margin-top: 60px;
}
.free p{
    font-size: 50px;
    margin-bottom: 60px;
}
.free{
    box-shadow: 10px 10px 5px #033214;
    text-decoration: none;
}
.freebutton{
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
    border-radius: 12px;
    padding: 28px 80px;
    margin: 240px;
    margin-bottom: 30px;
    font-size: 30px;
}
.freebutton:hover{
    background-color: #04AA6D;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.50),0 17px 50px 0 rgba(0,0,0,0.50);
}
/*.free ::after{
    content: '';
    position: relative;
    width: 6px;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: -1;
}*/
.paid-course{
   padding: 80px;
   display: flex;
   float: left;
   flex-direction: column;
   width: 100%;
   background-image: linear-gradient(to bottom, rgb(1, 51, 6), rgb(3, 109, 13));
   margin-top: 0px;
}
.paid-course a{
    text-decoration: none;
}
.paid-course h1{
    font-size: 100px;
    margin-bottom: 80px;
    color: white;
}
.paid-course p{
    font-size: 80px;
    color: white;
}
.paidbutton{
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
    border-radius: 12px;
    padding: 28px 80px;
    margin: 240px;
    margin-bottom: 30px;
    font-size: 30px;
}
.paidbutton:hover{
    background-color: #04AA6D;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.50),0 17px 50px 0 rgba(0,0,0,0.50);
}
.essential{
    padding: 50px;
    display: flex;
    float: left;
    flex-direction: column;
    width: 103.5%;
    margin: 0px;
    background-image: linear-gradient(to bottom,  rgb(3, 109, 13), rgb(0, 184, 18));
    color: white;
}
.essential a{
    text-decoration: none;
    color: rgb(104, 153, 169);
}
.essential h1{
    font-size: 100px;
    margin-bottom: 80px;
}
.equipment{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.equipment div{
    border: 8px solid  rgb(152, 250, 189);
    border-radius: 5px;
    background-color: white;
}
.equipment div:hover{
    box-shadow: 10px 10px 5px #033214;
    text-decoration: underline;
}
.precision{
    padding: 80px;
    display: flex;
    float: left;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    background-image: linear-gradient(to bottom, rgb(0, 184, 18), rgb(91, 247, 107));
    color: whitesmoke;
}
.precision h1{
    font-size: 100px;
    margin-bottom: 80px;
}
.technologies{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.technologies div{
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}
.technologies a{
    text-decoration: none;
    color: rgb(104, 153, 169);
}
.technologies div:hover{
    box-shadow: 10px 10px 5px #033214;
    text-decoration: underline;
}
.technologies img{
    float: left;
}
.technologies h2{
    font-size: 50px;
}
.technologies p{
    font-size: 30px;
}
.sustainable{
    padding: 80px;
    display: flex;
    float: left;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    background-image: linear-gradient(to bottom, rgb(91, 247, 107), rgb(211, 243, 214));
    color: rgb(123, 123, 111);
}
.sustainable h1{
    font-size: 100px;
    margin-bottom: 80px;
}
.practices{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.practices div{
    border: 2px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}
.practices a{
    text-decoration: none;
    color: rgb(104, 153, 169);
}
.practices div:hover{
    box-shadow: 10px 10px 5px #033214;
    text-decoration: underline;
}
.practices img{
    float: left;
}
.practices h2{
    font-size: 50px;
}
.practices p{
    font-size: 30px;
}
.organic{
    padding: 80px;
    display: flex;
    float: left;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    background-image: linear-gradient(to bottom, rgb(211, 243, 214),  rgb(255, 255, 255));
    color: rgb(42, 98, 150);
}
.gardening{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.gardening h1{
    font-size: 80px;
    text-decoration: none;
    margin-bottom: 80px;
}
.gardening a{
    font-size: 30px;
    text-decoration: none;
}
.gardening a:hover{
    font-size: 45px;
    text-decoration: solid;
    text-shadow: 2px 2px 4px #000000;
}
.connect{
    padding: 80px;
    display: flex;
    float: left;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(211, 243, 214));
    color: rgb(42, 98, 150);
}
.connect h1{
    font-size: 100px;
    margin-bottom: 80px;
}
.community{
    display: flex;
    flex-direction: row;
}
.community div{
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}
.community a{
    text-decoration: none;
    color: rgb(104, 153, 169);
}
.community div:hover{
    box-shadow: 10px 10px 5px #033214;
    text-decoration: underline;
}
.community img{
    float: top;
}
.community img:hover{}
.community h2{
    font-size: 50px;
}
.community p{
    font-size: 30px;
}
.explore{
    padding: 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    background-image: linear-gradient(to bottom, rgb(211, 243, 214),rgb(91, 247, 107));
    color: rgb(123, 123, 111);
}
.explore h1{
    font-size: 100px;
    margin-bottom: 80px;
}
table{
    border: 2px solid #000000;
    width: 100%;
}
td{
    border: 1px solid #000000;
    padding: 60px;
}
td a{
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin-left: 65px;
}
.firstrow{
    background-color: rgba(127, 255, 212, 0.745);
}
td a:hover{
    font-size: 32px;
    text-decoration: solid;
    text-shadow: 2px 2px 4px #000000;
}
.aboutus{
    padding: 80px;
    display: flex;
    float: left;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    background-image: linear-gradient(to bottom, rgb(91, 247, 107), rgb(0, 184, 18));
    color: whitesmoke;
}
.aboutus h1{
    font-size: 100px;
    margin-bottom: 80x;
}
.aboutus p{
    font-size: 25px;
    color: rgb(83, 63, 63);
}
.ourvision{
    padding: 80px;
    display: flex;
    float: left;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    background-image: linear-gradient(to bottom, rgb(0, 184, 18),  rgb(3, 109, 13));
    color: whitesmoke;
}
.ourvision h1{
    font-size: 100px;
    margin-bottom: 80x;
}
.ourvision p{
    font-size: 25px;
    color: rgb(198, 160, 160);
}
.ourmission{
    padding: 80px;
    display: flex;
    float: left;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    background-image: linear-gradient(to bottom,  rgb(3, 109, 13),  rgb(1, 51, 6));
    color: whitesmoke;
}
.ourmission h1{
    font-size: 100px;
    margin-bottom: 80x;
}
.ourmission p{
    font-size: 25px;
    color: rgb(198, 160, 160);
}
footer{
    padding: 100px;
    background-color: #36454F;
}
.icon a{
    text-decoration: none;
    padding: 100px;
}


@media only screen and (max-width: 600px) {
    nav a {
        padding: 20px;
        font-size: 20px;
    }

    .top h1 {
        font-size: 50px;
        margin-left: 20px;
    }

    .top p {
        font-size: 20px;
        margin-left: 20px;
    }

    .topbutton, .freebutton, .paidbutton {
        padding: 10px 20px;
        font-size: 20px;
        margin: 10px;
    }

    .free h1, .paid-course h1, .essential h1, .precision h1, .sustainable h1, .connect h1, .explore h1 {
        font-size: 50px;
    }

    .free p, .paid-course p, .gardening a, .practices h2, .practices p, .technologies h2, .technologies p, .community h2, .community p {
        font-size: 20px;
    }

    .free-course, .paid-course, .essential, .precision, .sustainable, .connect, .explore {
        padding: 20px;
    }

    .equipment, .practices, .technologies, .community {
        flex-direction: column;
        gap: 20px;
    }

    td {
        padding: 20px;
    }

    td a {
        font-size: 20px;
        margin-left: 10px;
    }

    .aboutus h1, .ourvision h1, .ourmission h1 {
        font-size: 50px;
    }

    .aboutus p, .ourvision p, .ourmission p {
        font-size: 20px;
    }
}


@media only screen and (min-width: 601px) and (max-width: 768px) {
    nav a {
        padding: 25px;
        font-size: 22px;
    }

    .top h1 {
        font-size: 60px;
        margin-left: 50px;
    }

    .top p {
        font-size: 25px;
        margin-left: 50px;
    }

    .topbutton, .freebutton, .paidbutton {
        padding: 12px 25px;
        font-size: 22px;
        margin: 12px;
    }

    .free h1, .paid-course h1, .essential h1, .precision h1, .sustainable h1, .connect h1, .explore h1 {
        font-size: 60px;
    }

    .free p, .paid-course p, .gardening a, .practices h2, .practices p, .technologies h2, .technologies p, .community h2, .community p {
        font-size: 25px;
    }

    .free-course, .paid-course, .essential, .precision, .sustainable, .connect, .explore {
        padding: 30px;
    }

    .equipment, .practices, .technologies, .community {
        flex-direction: column;
        gap: 30px;
    }

    td {
        padding: 30px;
    }

    td a {
        font-size: 25px;
        margin-left: 20px;
    }

    .aboutus h1, .ourvision h1, .ourmission h1 {
        font-size: 60px;
    }

    .aboutus p, .ourvision p, .ourmission p {
        font-size: 22px;
    }
}


@media only screen and (min-width: 769px) and (max-width: 992px) {
    nav a {
        padding: 30px;
        font-size: 23px;
    }

    .top h1 {
        font-size: 70px;
        margin-left: 100px;
    }

    .top p {
        font-size: 28px;
        margin-left: 100px;
    }

    .topbutton, .freebutton, .paidbutton {
        padding: 14px 30px;
        font-size: 24px;
        margin: 14px;
    }

    .free h1, .paid-course h1, .essential h1, .precision h1, .sustainable h1, .connect h1, .explore h1 {
        font-size: 70px;
    }

    .free p, .paid-course p, .gardening a, .practices h2, .practices p, .technologies h2, .technologies p, .community h2, .community p {
        font-size: 28px;
    }

    .free-course, .paid-course, .essential, .precision, .sustainable, .connect, .explore {
        padding: 40px;
    }

    .equipment, .practices, .technologies, .community {
        flex-direction: column;
        gap: 40px;
    }

    td {
        padding: 40px;
    }

    td a {
        font-size: 28px;
        margin-left: 30px;
    }

    .aboutus h1, .ourvision h1, .ourmission h1 {
        font-size: 70px;
    }

    .aboutus p, .ourvision p, .ourmission p {
        font-size: 23px;
    }
}


@media only screen and (min-width: 993px) {
    nav a {
        padding: 35px;
        font-size: 25px;
    }

    .top h1 {
        font-size: 80px;
        margin-left: 500px;
    }

    .top p {
        font-size: 30px;
        margin-left: 500px;
    }

    .topbutton, .freebutton, .paidbutton {
        padding: 14px 40px;
        font-size: 30px;
        margin: 15px;
    }

    .free h1, .paid-course h1, .essential h1, .precision h1, .sustainable h1, .connect h1, .explore h1 {
        font-size: 80px;
    }

    .free p, .paid-course p, .gardening a, .practices h2, .practices p, .technologies h2, .technologies p, .community h2, .community p {
        font-size: 30px;
    }

    .free-course, .paid-course, .essential, .precision, .sustainable, .connect, .explore {
        padding: 50px;
    }

    .equipment, .practices, .technologies, .community {
        flex-direction: row;
        gap: 70px;
    }

    td {
        padding: 60px;
    }

    td a {
        font-size: 30px;
        margin-left: 65px;
    }

    .aboutus h1, .ourvision h1, .ourmission h1 {
        font-size: 100px;
    }

    .aboutus p, .ourvision p, .ourmission p {
        font-size: 25px;
    }
}


@media only screen and (max-width: 600px) {
    nav img {
        width: 100px; 
        padding: 10px;
    }

    .free-course img, .technologies img, .community img {
        width: 100%; 
        height: auto;
        margin: 20px 0; 
        box-shadow: none; 
    }
}


@media only screen and (min-width: 601px) and (max-width: 768px) {
    nav img {
        width: 150px;
        padding: 15px;
    }

    .free-course img, .technologies img, .community img {
        width: 80%; 
        height: auto;
        margin: 30px 0;
        box-shadow: 5px 5px 3px #033214; 
    }
}


@media only screen and (min-width: 769px) and (max-width: 992px) {
    nav img {
        width: 200px; 
        padding: 20px;
    }

    .free-course img, .technologies img, .community img {
        width: 70%; 
        height: auto;
        margin: 40px 0; 
        box-shadow: 5px 5px 5px #033214;
    }
}


@media only screen and (min-width: 993px) {
    nav img {
        width: 250px; 
        padding: 25px;
    }

    .free-course img, .technologies img, .community img {
        width: 60%; 
        height: auto;
        margin: 50px 0; 
        box-shadow: 10px 10px 5px #033214; 
    }
}


@media only screen and (max-width: 600px) {
    .organic img, .gardening img {
        width: 100%; 
        height: auto;
        display: block; 
        margin: 0 auto; 
    }

    table {
        width: 100%; 
        border-collapse: collapse; 
    }

    td {
        padding: 10px; 
        font-size: 16px; 
    }
}


@media only screen and (min-width: 601px) and (max-width: 768px) {
    .organic img, .gardening img {
        width: 80%; 
        height: auto;
        display: block; 
        margin: 10px auto; 
    }

    table {
        width: 100%; 
        border-collapse: collapse; 
    }

    td {
        padding: 15px; 
        font-size: 18px; 
    }
}


@media only screen and (min-width: 769px) and (max-width: 992px) {
    .organic img, .gardening img {
        width: 70%; 
        height: auto;
        display: block; 
        margin: 20px auto; 
    }

    table {
        width: 100%; 
        border-collapse: collapse; 
    }

    td {
        padding: 20px; 
        font-size: 20px; 
    }
}


@media only screen and (min-width: 993px) {
    .organic img, .gardening img {
        width: 60%; 
        height: auto;
        display: block; 
        margin: 30px auto; 
    }

    table {
        width: 100%; 
        border-collapse: collapse; 
    }

    td {
        padding: 30px;
        font-size: 22px; 
    }
}
